body {
    transition: background-color 0.3s ease;
    font-family: sans-serif;
    background-color: #297fa7;
    color: #7fd6ff;
}

body.focused {
    background-color: #1e7f4b;
    color: rgb(142, 237, 135);
}

body.distracted {
    background-color: #7f1e1e;
    color: rgb(255, 127, 127);
}